{% extends "base.html" %}
{% load static %}

{% block nav_characters%}
    active
{% endblock %}

{% block title %}Characters{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h2 class="card-title">Characters</h2>
        <div class="row">
            {% for character in characters %}
                <div class="col-md-2 p-2">
                    <div class="card">
                        <div class="row">
                            <div class="col-12">
                                <a href="{% url 'character' character.name %}">
                                    <img class="mx-auto d-block" src="{% static 'img/characters/'|add:character.name|add:'.png' %}">
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="sidebar-content">{{ character.rarity }}<i class="fas fa-star"></i></div>
                            </div>
                            <div class="col-4">
                                <div class="sidebar-content">
                                    <img src="{% static 'img/elements/'|add:character.elemental_type|add:'.png' %}" width="25" height="25" title="{{ character.elemental_type }}">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="sidebar-content">
                                    <img src="{% static 'img/weapons/'|add:character.weapon_type|add:'.png' %}" width="25" height="25" title="{{ character.weapon_type }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">

    </div>
</div>
{% endblock %}